<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrevueDataSender.ListingColor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PrevueDataSender.Properties.View" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PrevueDataSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PrevueDataSender.PrevueOldConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PrevueDataSender.PrevueConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrevueDataSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <PrevueDataSender.ListingColor>
            <setting name="MovieRBSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SportsRBSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FamilyRBSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewsRBSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OtherRBSelected" serializeAs="String">
                <value>0</value>
            </setting>
        </PrevueDataSender.ListingColor>
        <PrevueDataSender.Properties.View>
            <setting name="Z2IListingsDGV_AdjDayofYear_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2IListingsDGV_SourceID_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2IListingsDGV_TimeSlot_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2IListingsDGV_Attribute_ColWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Z2IListingsDGV_Title_ColWidth" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="Z2IListingsDGV_Subtitle_ColWidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="Z2IListingsDGV_Description_ColWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Z2ILineupDGV_SourceID_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2ILineupDGV_Number_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2ILineupDGV_ID_ColWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Z2ILineupDGV_RedHiLt_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2ILineupDGV_SBS_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2ILineupDGV_PTagDisabled_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2ILineupDGV_PPVSrc_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2ILineupDGV_DittoEnable_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2ILineupDGV_LtBlueHiLt_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2ILineupDGV_StereoSrc_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Z2ILineupDGV_Daypart1_ColWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Z2ILineupDGV_Daypart2_ColWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Z2ILineupDGV_Daypart3_ColWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Z2ILineupDGV_Daypart4_ColWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Z2ILineupDGV_Daypart5_ColWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Z2ILineupDGV_Daypart6_ColWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ListingsDGV_AdjDayofYear_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ListingsDGV_SourceID_ColWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ListingsDGV_TimeSlot_ColWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ListingsDGV_Attribute_ColWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ListingsDGV_Title_ColWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="LineupDGV_SourceID_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LineupDGV_Number_ColWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LineupDGV_ID_ColWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LineupDGV_Attribute_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LineupDGV_Daypart1_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LineupDGV_Daypart2_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LineupDGV_Daypart3_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LineupDGV_Daypart4_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LineupDGV_Daypart5_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LineupDGV_Daypart6_ColWidth" serializeAs="String">
                <value>60</value>
            </setting>
        </PrevueDataSender.Properties.View>
        <PrevueDataSender.Properties.Settings>
            <setting name="COMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Current_Version" serializeAs="String">
                <value>9.0.4</value>
            </setting>
            <setting name="Select_Code" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="WeatherID" serializeAs="String">
                <value />
            </setting>
            <setting name="WeatherCity" serializeAs="String">
                <value />
            </setting>
            <setting name="WeatherFrequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WeatherParseCycle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TopLine" serializeAs="String">
                <value />
            </setting>
            <setting name="BottomLine" serializeAs="String">
                <value />
            </setting>
            <setting name="DlUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DlNumberOfDays" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TimeZoneOffset" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="Port_Selected" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="IP_Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port_Number" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="CustomListing1" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomListing2" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </PrevueDataSender.Properties.Settings>
        <PrevueDataSender.PrevueOldConfig>
            <setting name="TimeSlot_Backward_Display" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Timeslot_Forward_Display" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="Scroll_Speed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Number_of_Text_Ads" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="Number_of_Text_Ad_Lines" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Ignore_National_Ads_Flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Before_TimeSlot_Minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="After_TimeSlot_Minutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Time_Zone" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Observe_DST_Flag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Continued_Flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Keyboard_Flag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ten_Minute_Window" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Three_Minute_Window" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ignore_VCR_Plus_Flag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Laser_Format" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="Graphic_Ads_Enabled_Flag" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="Video_Insertion_Enabled_Flag" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="Time_Zone_Minutes_Adjustment" serializeAs="String">
                <value>0</value>
            </setting>
        </PrevueDataSender.PrevueOldConfig>
        <PrevueDataSender.PrevueConfig>
            <setting name="Grid_Hold_Time" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Grid_Source_Channel_Order" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="Grid_Movie_Recap_Frequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Grid_SBS_Frequency" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Grid_SBS_TimeSlot_LookAhead" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Scroll_SBS_TimeSlot_LookAhead" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Display_Format" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="Advue_Insertion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Pie_Format" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="Prime_Time_Summary_Frequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sports_Summary_Frequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Grid_SBS_Roll_and_Hold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grid_Movie_Recap_Roll_and_Hold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grid_Prime_Time_Roll_and_Hold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Grid_Sports_Summary_Roll_and_Hold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grid_Roll_and_Hold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoVue_Insertion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Laser_Insertion_Type" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="Prime_Time_Starting_TimeSlot" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="Prime_Time_LookAhead_TimeSlots" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Cycle_Summary_Info" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grid_Synopsis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Grid_Synopsis_Roll_and_Hold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Prime_Time_Promotion_Start_TimeSlot" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="Prime_Time_Promotion_End_TimeSlot" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="Sports_Summary_LookAhead" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="PPV_Display_After_PGM_Start" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Cycle_Summary_Frequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="System_Default_Brush_ID" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="Weather_Roll_and_Hold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Military_Time_Flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleanup_Unused_Logos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Display_Length_Setting" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="Custom_Display_Length" serializeAs="String">
                <value>142</value>
            </setting>
            <setting name="Number_of_Colors" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Text_Ad_Flag" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="PC_Disk_Support" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Retail_Trade_Zone_Audio" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="Flexible_Grid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Retail_Trade_Zone_System" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="Clock_Command" serializeAs="String">
                <value>0</value>
            </setting>
        </PrevueDataSender.PrevueConfig>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="COMPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Current_Version" serializeAs="String">
                <value>9.0.4</value>
            </setting>
            <setting name="Select_Code" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="WeatherID" serializeAs="String">
                <value />
            </setting>
            <setting name="WeatherCity" serializeAs="String">
                <value />
            </setting>
            <setting name="WeatherFrequency" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WeatherParseCycle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TopLine" serializeAs="String">
                <value />
            </setting>
            <setting name="BottomLine" serializeAs="String">
                <value />
            </setting>
            <setting name="DlUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DlNumberOfDays" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TimeZoneOffset" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="DGV1Col1Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DGV1Col2Width" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DGV1Col3Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DGV1Col4Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DGV1Col5Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DGV1Col6Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DGV1Col7Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DGV1Col8Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DGV1Col9Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DGV1Col0Width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Port_Selected" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="IP_Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port_Number" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="CustomListing1" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomListing2" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PrevueDataSender.Properties.Settings>
            <setting name="WeatherDataPath" serializeAs="String">
                <value>ftp://tgftp.nws.noaa.gov/data/observations/metar/decoded/</value>
            </setting>
        </PrevueDataSender.Properties.Settings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="WeatherDataPath" serializeAs="String">
                <value>ftp://tgftp.nws.noaa.gov/data/observations/metar/decoded/</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </applicationSettings>
</configuration>